body {
    font-family: roboto, sans-serif;
}
.header, .opening-card, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}
.header {
    margin-bottom: -16px;
    display: flex;
    padding: 20px 100px 50px 100px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-left: auto;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 .opening-card {
    padding: 50px 100px 120px 100px;
    display: flex;
 }

 .title {
    font-weight: bolder;
    font-size: 48px;
 }

 .left {
    flex-direction: column;  
 }

 img {
    width: 100px;
    height: 130px;
    border-radius: 15px;
 }

.header-pic {
    padding: 10px;
    margin: 0 16px;
}





 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px 80px 175px 80px;
    gap: 60px;
    padding:
 }

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.illustration {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.info-list {
    display: flex;
    max-height: 100px;
    max-width: 400px;
    flex-direction: column;
    gap: 8px;
}

.text{
    max-width: 100px;
}

 .quote-card {
    background-color: #E5E7EB;
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
 }

 .quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2927;
 }
 
 .name {
    font-weight: bold;
    align-self: flex-end;
 }

 .action {
    background-color: #3882F6;
    padding: 30px 50px;
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
 }

 button {
    padding: 4px 25px;
    background-color: #3882F6;
    max-height: 40px;
    margin: 12px 0;
    border-radius: 8px;
    color: white
 }
 
 .bottom-button {
    align-self: center;
 }

 .footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 0;
 }